body, html {
	background-color: #c8bfe7;
    background-image: url('../img/fon.jpg');
    background-position: left 0px;
	font-size: 16px;
	}
#container{
	background-color: #22b14c;
}
#dhand{
	border-bottom: 1px solid #c8bfe7;
}
#phand{
	border-top: 1px solid #c8bfe7;
}
.ctrl{
	border: 1px solid yellow;
}
.button{
	background-color: #c8bfe7;
	font-weight: bold;
	text-align: center;
}
#msg{
	color: yellow;
	border: 1px solid yellow;
	font-weight: bold;
	text-align: center;
}