body, html {
	margin: 0px 100px;
	padding: 0px;
	}
#container{
    min-width:800px;
	margin:0px auto; 
}
#dhand{
	padding: 10px 150px;
	height: 250px;
}
#phand{
	padding: 10px 150px;
	height: 250px;
	margin-top:100px;
	}
.ctrl{
	height: 65px;
	width: 360px;
	margin: 6px;
	padding:  10px 15px;
	float: left;
}
.button{
	margin: 8px;
	height: 50px;
	width: 100px;
}
.cur_phand{
	padding-left: 50px;
	float: left;
}
.cur_dhand{
	padding-left: 50px;
	float: left;
}
#msg{
	height: 15px;
	width: 40%;
	margin: 6px 6px 6px 0px;
	padding:  35px 15px;
	float: right;
}
